.heading-1 {
  font-size: 200px;
}

.heading-2 {
  font-size: 190px;
}

.heading-3 {
  font-size: 100px;
  line-height: 110px;
}

.heading-4 {
  font-size: 100px;
}

.heading-5 {
  font-size: 56px;
}

.heading-6 {
  font-size: 32px;
  line-height: 40px;
}

.heading-7 {
  font-size: 16px;
  line-height: 26px;
}

.heading-8 {
  font-size: 16px;
  line-height: 26px;
}
