
@font-face {
  font-family: "Monument Extended";
  src: url("../assets/fonts/monument-extended.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Monument Extended";
  src: url("../assets/fonts/Monument-Ultrabold.OTF");
  font-weight: 700;
}
